@import 'tailwindcss';

:root {
    --color-background: #151515; /* background dark */
    --color-foreground: #ededed; /* text color */
    --color-primary: #1d4ed8; /* blue main highlight */
    --color-accent: #3b82f6; /* light blue accent */
}

body {
    font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
    color: var(--color-foreground);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.antonio-font {
    font-family: var(--font-antonio);
}

.satisfy-font {
    font-family: var(--font-satisfy);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--color-background);
}
::-webkit-scrollbar-thumb {
    background: #2a2a2a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #333;
}
